/*Noto Serif Font linkup */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
.headline-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "width" 100;
}
/* Inter font linkup */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.paragraph-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Custom CSS for the website */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header Section */

/* Navbar Section */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}
.navbar a {
  text-decoration: none;
  font-weight: 700;
}
.home {
  color: rgba(37, 36, 50, 1);
}
.shop,
.about {
  color: rgba(137, 135, 161, 1);
}

/* Mobile responsive banner section */
@media screen and (max-width: 576px) {
  .home,
  .shop,
  .about {
    display: none;
  }
  .navbar {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar img {
    height: 3rem;
    width: 4.2rem;
  }
  .navbar ul {
    gap: 0;
    margin-top: 30px;
  }
}

/* Banner Section */
.banner {
  display: flex;
  justify-content: space-around;
  margin: 120px 130px;
  padding-top: 130px;
}
.banner-content {
  width: 100%;
  text-align: start;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 13px;
}
.banner-title span {
  color: rgba(233, 90, 8, 1);
}
.banner-description {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
.banner-image img {
  margin-top: 25px;
  width: 100%;
}
/* Responsive Banner section */
@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    padding: 8px;
  }
}

/* Plant Section */
.plant-content {
  text-align: center;
  margin: 50px 0;
}
.plant-title {
  font-size: 3.1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 1rem;
}
.plant-title span {
  color: rgba(233, 90, 8, 1);
}
.plant-description {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
.plant-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  margin-bottom: 1.8rem;
}
.card-image img {
  width: 100%;
}
.card-title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  color: rgba(17, 17, 17, 1);
  padding: 0.8rem 0;
}
.card-price {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(17, 17, 17, 1);
}
.card-button button {
  width: 100%;
  max-width: 275px;
  background-color: rgba(233, 90, 8, 1);
  height: 3.1rem;
  border: none;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1.6rem;
  color: rgba(255, 255, 255, 1);
}

/* Responsive plant-card-section */
@media screen and (max-width: 576px) {
  .plant-card {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    padding: 6px;
  }
}
/* Plant lover badge */
.plant-lover-badge {
  position: absolute;
  height: 286px;
  width: 286px;
  margin-top: -100px;
  margin-left: 350px;
}

/* Plant lover section */
.plant-lover {
  display: flex;
  gap: 4rem;
  margin-top: 210px;
  margin-bottom: 133px;
}
.plant-lover-content {
  padding-top: 2.5rem;
  width: 540px;
}
.plant-lover-img {
  position: relative;
  width: 100%;
  max-width: 540px;
}
.plant-lover-img .main-img {
  max-width: 100%;
  height: 590px;
}
.lover-content-title {
  font-size: 3.1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 1.2rem;
}
.plant-lover-content ul {
  padding-top: 1rem;
  padding-left: 1.5rem;
}
.plant-lover-content ul li {
  padding-top: 1.2rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
}

/* Plant lover section responsive */
@media screen and (max-width: 576px) {
  .plant-lover {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 41px;
    margin-bottom: 143px;
  }
  .plant-lover-badge {
    display: none;
  }
  .plant-lover-content {
    width: 100%;
  }
}

/* Latest deal section */
.latest-deal-content {
  text-align: center;
  margin: 120px 0;
}
.latest-deal-title {
  font-size: 3.1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 1rem;
}
.latest-deal-title span {
  color: rgba(233, 90, 8, 1);
}
.latest-deal-description {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
.latest-deal-image {
  display: flex;
  gap: 28px;
  height: 424px;
}
.latest-deal-image div {
  width: 100%;
}

.section-01 img {
  flex: 1;
  width: 100%;
  border-radius: 14px;
  height: 200px;
}
.section-02 img {
  border-radius: 22px;
}
.section-01 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 425px;
  position: relative;
}
.section-02 {
  position: relative;
}
.box-1,
.box-2,
.box-3 {
  position: absolute;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.box-1 {
  top: 18%;
  padding: 10px;
}
.box-2 {
  top: 71%;
  padding: 10px;
}
.box-3 {
  top: 40%;
}
.box-1 a,
.box-2 a {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
.box-1 h4,
.box-2 h4 {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 0.6rem;
}
.box-3 h4 {
  padding-bottom: 1rem;
  font-size: 3.2rem;
}
.box-3 a {
  color: rgb(255, 255, 255, 1);
  font-size: 1.8rem;
  font-weight: 500;
}

/* responsive latest deal section */
@media screen and (max-width: 576px) {
  .latest-deal-image {
    flex-direction: column;
    align-items: center;
    padding: 8px;
  }
  .section-01,
  .section-02 {
    width: 100%;
  }
  .section-01:first-child {
    margin-bottom: 25px;
  }
  .section-01 .second-image {
    border-radius: 0;
  }
  .section-01 img,
  .section-02 img {
    width: 100%;
    height: auto;
  }

  .box-3 h4 {
    font-size: 1.2rem;
  }
  .box-3 a {
    font-size: 1rem;
  }
}
/* Joining Section */
.joining-section {
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  width: 100%;
  height: 533px;
  margin-top: 120px;
}
.joining-content {
  text-align: center;
  padding-top: 250px;
}
.joining-title {
  font-size: 3.1rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 1rem;
}
.search-box {
  display: flex;
  justify-content: center;
  gap: 0px;
}
.search-box input,
button {
  height: 50px;
}
.search-box input {
  width: 644px;
  border: none;
}
.search-box input:focus {
  outline: none;
}
.search-box button {
  width: 180px;
  background-color: rgba(233, 90, 8, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}
.search-box input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  padding-left: 20px;
}
/* responsive joining section */
@media screen and (max-width: 576px) {
  .joining-section {
    margin-top: 300px;
    height: 270px;
  }
  .joining-content {
    padding: 10px;
    padding-top: 100px;
  }
  .joining-title {
    font-size: 1.2rem;
  }
  .search-box input {
    width: 100%;
    max-width: 300px;
  }
  .search-box button {
    width: 100%;
    max-width: 150px;
  }
}

/* Footer Section */
.footer-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
  height: 248px;
  align-items: start;
  margin: 50px 120px;
}
.footer-content p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 1rem;
}
.footer-links ul {
  list-style: none;
}
.footer-links ul li {
  padding-top: 1.8rem;
}
.footer-links ul li a {
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
}
.footer-social-media {
  height: 36px;
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 24px;
}
/* responsive footer section */
@media screen and (max-width: 576px) {
  .footer-section {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    margin: 20px 15px;
  }
  .footer-content p {
    font-size: 1rem;
  }
  .footer-links ul li {
    padding-top: 0.8rem;
  }
  .footer-social-media {
    padding-bottom: 15px;
  }
}
